:root {
    --thistle: #ddbdd5ff;
    --blue-gray: #6b9ac4ff;
    --icterine: #faff7fff;
    --dark-slate-gray: #395756ff;
    --blush: #e75a7cff;
    --light-gray: #f5f5f5; /* Light gray color */
}

.navbar {
    background-color: var(--light-gray); /* Use light gray color */
}
